<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>dnnet</title>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#hosworks-box *').remove();
            $("#hosworks-box").html("");

            showhosworks();
        });

        function writeHosworks() {

            // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
            let day = $("#day").val();
            let works = $("#works").val();
            let etc = $("#etc").val();
            let name = $("p.hosn > b").text();

            $.ajax({
                type: "POST",
                url: "/hosworks",
                data: {day_give: day, works_give: works, etc_give: etc, name_give: name},
                success: function (response) {
                    if (response["result"] == "success") {
                        makeHoswork(day, works, etc, name);
                    }

                }
            })
        }


        function findHos() {
            $.ajax({
                type: "GET",
                url: "/findhos",
                data: {keyword: $('#keyword').val()},
                success: function (response) {
                    // 2. 요청 성공 여부 확인하기
                    if (response["result"] == "success") {

                        let findhos = response['hos'];
                        // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                        for (let i = 0; i < findhos.length; i++) {
                            makeHos(findhos[i]["name"], findhos[i]["corpNo"], findhos[i]["addr"], findhos[i]["manager"], findhos[i]["managerPhone"], findhos[i]["managerEmail"]);
                        }
                    }
                    if (response["result"] == "success") {
                        let hosworks = response["hosworks"];
                        // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                        for (let i = 0; i < hosworks.length; i++) {
                            makeHoswork(hosworks[i]["day"], hosworks[i]["works"], hosworks[i]["etc"], hosworks[i]["name"]);
                            // window.location.reload();
                        }
                    }
                }
            })
        }


        // function showhosworks() {
        //     // 1. 리뷰 목록을 서버에 요청하기
        //     $('#hosworks-box').empty();
        //     $.ajax({
        //         type: "GET",
        //         url: "/hosworks",
        //         data: {},
        //         success: function (response) {
        //             // 2. 요청 성공 여부 확인하기
        //             if (response["result"] == "success") {
        //                 let hosworks = response["hosworks"];
        //                 // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
        //                 for (let i = 0; i < hosworks.length; i++) {
        //                     makeHoswork(hosworks[i]["day"], hosworks[i]["works"], hosworks[i]["etc"], hosworks[i]["name"]);
        //                       // window.location.reload();
        //                 }
        //             }
        //         }
        //     })
        // }

        function makeHos(name, corpNo, addr, manager, managerPhone, managerEmail) {
            let tempHtmlhos = `<p class="hosn"><b>${name}</b></p>
                                    <p>${corpNo}</p>
                                    <p>${addr}</p>
                                    <p>${manager}</p>
                                    <p>${managerPhone}</p>
                                    <p>${managerEmail}</p>`;


            $("#findhos-box").html(tempHtmlhos);
        }

        function makeHoswork(day, works, etc, name) {
            let tempHtml = `<tr>
                        <td>${day}</td>
                        <td>${works}</td>
                        <td>${etc}</td>
                        <td><button type="button" onclick="deleteRow(this);">X</button></td>
                    </tr>`;
            `<b>${name}</b></p>`

            $("#hosworks-box").append(tempHtml);
        }

       function deleteRow(ths){
            var $ths = $(ths);
            $ths.parents("tr").remove();
       }
    </script>

    <style>
        body {
            background: #fff;
        }

        .bluetop {
            border-collapse: collapse;
            border-top: 3px solid #168;
            width: 500px;
            height: 50px;
            margin: auto;
            text-align: center;
            margin-bottom: 30px;
        }

        .bluetop th {
            color: #168;
            background: #f0f6f9;
        }

        .bluetop th, .bluetop td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .bluetop th:first-child, .bluetop td:first-child {
            border-left: 0;
        }

        .bluetop th:last-child, .bluetop td:last-child {
            border-right: 0;
        }

        .wrap {
            text-align: center;
            font-size: 20px;
            line-height: 80%;
        }

        .hosn {
            font-size: 30px;
            line-height: 150%;
        }

        .info {
            margin: auto;
            width: 500px;
            margin-bottom: 30px;

        }

        .review {
            text-align: center;
        }

        .key {
            margin: auto;
            width: 300px;
            height: 50px;
            margin-bottom: 30px;

        }


    </style>
</head>
<body>
<br>
<div class="key">
    <input type="text" id="keyword">
    <button onclick="findHos()">검색</button>

    <!--    <table>-->
    <!--        <thead>-->
    <!--        <tr>-->
    <!--            <td>병원명</td>-->
    <!--            <td>사업자등록번호</td>-->
    <!--            <td>주소</td>-->
    <!--            <td>담당자</td>-->
    <!--            <td>담당자 연락처</td>-->
    <!--            <td>담당자 이메일</td>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody id="hos-list">-->
    <!--        </tbody>-->
    <!--    </table>-->
</div>

<div class="wrap" style="width:100%; height:100%;" id="findhos-box">
<!--    <p class="hosn"><b>제일병원</b></p>-->
<!--    <p>서울시 어디어디</p>-->
<!--    <p>123123-123123</p>-->
<!--    <p>아무개 010-0000-0000</p>-->
<!--    <p>asdfasdf@nate.com</p>-->
</div>

<div>
    <table class="bluetop">
        <tr>
            <th>담당업체</th>
            <th>유지보수</th>
            <th>뭘넣을까</th>
        </tr>
        <tr>
            <td>테크하임</td>
            <td>19.02.06-21.02.05</td>
            <td>2000년</td>
        </tr>
    </table>
    <div class="info">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">일자</span>
            </div>
            <input type="date" class="form-control" id="day">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">작업내용</span>
            </div>
            <input type="text" class="form-control" id="works">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">특이사항</span>
            </div>
            <input type="text" class="form-control" id="etc">
        </div>
        <div class="review">
            <button onclick="writeHosworks()" type="button" id="delbtn" class="btn btn-primary">작성하기</button>
        </div>
    </div>
    <table class="bluetop">
        <tr>
            <th>작업날짜</th>
            <th>작업내용</th>
            <th>특이사항</th>
            <th>X</th>
        </tr>
        <tbody id="hosworks-box">
        <tr>
            <!--            <td>20.08.18</td>-->
            <!--            <td>2bay_HDD교체,cluster AD 재구성</td>-->
            <!--            <td>20년12월중 병원이전</td>-->
        </tr>

    </table>
</div>
</body>
</html>








